<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Reset Password</title>
  <link rel="stylesheet" href="../static/style.css">
  <link href="../static/images/favicon.png" rel="icon" type="image/x-icon"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="wrapper">
    <h1 class="site-h1">Reset Password</h1>
    <div class="form-container">
      <div class="form-inner">
        <form id="resetPasswordForm" method="post" action="/reset-password">
          <input type="hidden" id="token" name="token" value="{{ token }}">
          <div class="field">
            <input type="password" id="newPassword" name="new_password" placeholder="New Password" required>
            <div id="password-strength">
              <div id="password-strength-wrap">
                <div id="password-strength-bar"></div>
                <div id="password-strength-feedback"></div>
              </div>
            </div>
          </div>
          <div class="field">
            <input type="password" id="confirmPassword" name="confirm_password" placeholder="Confirm Password" required>
            <span class="error-message" id="confirmPasswordError"></span>
          </div>
          <div class="field btn">
            <input type="submit" value="Reset Password">
          </div>
        </form>
        <div id="resetPasswordSuccess" class="success-message"></div>
      </div>
    </div>
  </div>
  <script src="../static/script.js"></script>
</body>
</html>
